<!DOCTYPE html>
<html xmlns:th="'http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet" />
<head>
    <meta charset="UTF-8">
    <title>Logging page</title>
</head>
<body>
    <h1>Logging page</h1>
    <hr>
    <div class="login-container">
    <form th:action="@{/login}" method="post"/>
    <label for="username">Email</label>
    <input type="text" placeholder="Enter Email" id="username" name="username"/></br>
    <label for="password">Password</label>
    <input type="password"  placeholder="Enter Password" id="password" name="password"/></br>

    <label for="remember-me"> Remember me</label>
    <input type="checkbox" id="remember-me" name="remember-me"></br>
    <input  class="loginBtn" type="submit" value="Log up"/>
    </form>
    </div>
    <div class="register-container">
    <button type="button" class="register-button" th:onclick="|window.location.href='/sing-up'|">GO TO REGISTRATION</button>
    </div>
</body>
</html>
