<!DOCTYPE html>
<html xmlns:th="'http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link href="../static/css/registration.css" th:href="@{/css/registration.css}" rel="stylesheet" />
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
</head>
<body>
<h1>Registration page</h1>
<hr>
<div class="register-container">
<form th:action="@{/registration}" method="post"/>
<label for="username">Email:</label>
<input type="text" placeholder="Enter Email" id="username" name="username"/></br>
<label for="password">Password:</label>
<input type="password" placeholder="Enter Password" id="password" name="password"/></br>
</br>
<input  class="registerBtn" type="submit" value="REGISTER ME"/>
</form>
</div>
<div class="sing-in-container">
<button type="button" class="sing-button" th:onclick="|window.location.href='/login'|">GO TO LOGIN</button>
</div>
</body>
</html>
